#incall-buttons {
  display: none;
}

.volume-wrapper {
  width: 300px;
  height: 40px;
  border: 2px solid black;
  margin-bottom: 25px;
  display: block;
}

button {
  margin-bottom: 25px;
}

button:nth-child(2) {
  margin-left: 20px;
}
